<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="projects">Projects</a><li>
	        		<li><a href="/cv/Resume_Yeochan Youn.pdf" target="_blank">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:yyoun5@wisc.edu">email</a></li>
	        		<li><i class="fa fa-github"></i><a href="https://github.com/YeochanYoun119">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
