---
layout: default
---
<h1>{{page.title}}</h1>
{{content}}
<!--
<h1>{{ page.title }}</h1>
<h2>
    {% if page.lang %}
{{ page.lang }} |
    {% endif %}
    {% if page.start %}
{{ page.start | date_to_string }} - {{ page.end | date_to_string}}
    {% endif %}
</h2>
<div class = "container">
    <div class = "row">
        <div class = "col">
            {% if page.img %}
                <img src= "{{ page.img | prepend: site.baseurl | replace: '//', '/' }}" height="600pt" width="600pt">
            {& else &}
                <img src="/assets/images/IMG_5760.JPG" alt="Pictuer of soccer team" height="100%" width="100%">
            {% endif %}
        </div>
        <div class = "col">
            {{ content }}
        </div>
    </div>
</div>